@model EditModel

<h2>Change Password</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="ChangePassword" method="post">
    <input type="hidden" asp-for="SSN" />
    <input type="hidden" asp-for="name" />
    <input type="hidden" asp-for="phoneNumber" />


    <div class="form-group">
        <label asp-for="OldPassword">Old Password:</label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password:</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password:</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
