@model CreateCourse
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "emptyId")
{
    <div class="alert alert-danger" role="alert">
        You should enter a valid Course id
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "emptyName")
{
    <div class="alert alert-danger" role="alert">
        You should enter a valid Course name
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
{
    <div class="alert alert-success" role="alert">
        The Course inserted successfully
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "This Course is already exist")
{
    <div class="alert alert-danger" role="alert">
        This Course is already exist
    </div>
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Course</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="id" class="control-label"><span class="required">* ID</span>:</label>
                        <input asp-for="id" class="form-control" />
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="name" class="control-label"><span class="required">* Course Name</span>:</label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="hours" class="control-label"><span class="required">* Course Hours</span>:</label>
                        <input asp-for="hours" class="form-control" />
                        <span asp-validation-for="hours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="departmentId"><span class="required">* Department ID</span>:</label>
                        <select name="departmentid" class="form-control">
                            <option value="">Select an Department</option>
                            @foreach (var item in ViewBag.Departments as List<Department>)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" asp-action="CreateCourse" />
                    </div>
                </form>
            </div>
        </div>
        @*
        <table class="table">
        <thead>
        <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var department in ViewBag.Departments as List<Department>)
        {
        <tr>
        <td>@department.id</td>
        <td>@department.name</td>
        </tr>
        }
        </tbody>
        </table>
        *@
    </div>
</div>
<script>
    // Use JavaScript to clear the form fields when the page is loaded or refreshed
    document.addEventListener("DOMContentLoaded", function () {
        // Set the input values to null
        document.getElementById("id").value = null;
        document.getElementById("name").value = null;
        document.getElementById("hours").value = null;
        document.getElementById("departmentId").value = null;
    });
</script>