@model CreateHall
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "emptyId")
{
    <div class="alert alert-danger" role="alert">
        You should enter a valid hall id
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "emptyCapacity")
{
    <div class="alert alert-danger" role="alert">
        You should enter a valid hall capacity
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
{
    <div class="alert alert-success" role="alert">
        The hall inserted successfully
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage) && ViewBag.ErrorMessage == "This hall is already exist")
{
    <div class="alert alert-danger" role="alert">
        This hall is already exist
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "emptyCapacity")
{
    <div class="alert alert-danger" role="alert">
        The capcaity should be at least 50 student
    </div>
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Hall</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="id" class="control-label"></label>
                        <input asp-for="id" class="form-control" />
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="capacity" class="control-label"></label>
                        <input asp-for="capacity" class="form-control" type="text" pattern="[0-9]*" />
                        <span asp-validation-for="capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" asp-action="CreateHall"/>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Hall Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var department in ViewBag.Halls as List<Hall>)
                    {
                        <tr>
                            <td>@department.id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    // Use JavaScript to clear the form fields when the page is loaded or refreshed
    document.addEventListener("DOMContentLoaded", function () {
        // Set the input values to null
        document.getElementById("id").value = null;
        document.getElementById("capacity").value = null;
    });
</script>