<!-- Views/Professor/ProfileProfessor.cshtml -->
@model Student


<h2>Welcome to your Student Profile</h2>

<p>Professor: @Model.Name</p>

<p>Professor: @Model.SSN</p>
<p>Professor: @Model.PhoneNumber</p>


<!-- Add other profile information as needed -->

