@model List<Lecture>

<form asp-controller="Professors" asp-action="UploadExcelStudent" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Upload Excel File:</label>
        <input type="file" name="file" class="form-control" />
        <label for="LecturId">Select an Item:</label>
        <select name="LectureId"  class="form-control">
          <option value="">Select an Item</option>
            @foreach (var item in Model)
            {
                <option value="@item.id">@item.course.name</option>
            }
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>