<!-- Views/Professor/ProfileProfessor.cshtml -->
@model Professor

<h2>Welcome to your Professor Profile   2 2222222222222222222222222222</h2>

<p>Professor: @Model.Name</p>

<p>Professor: @Model.SSN</p>
<p>Professor: @Model.PhoneNumber</p>


<!-- Add other profile information as needed -->

<a asp-controller="Professors" asp-action="Logout">Logout</a>